# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# End of https://www.gitignore.io/api/netbeans

# Other ignores
/logs/
/lib/
/doc/unic_icon24.jpg
/doc/unicode_icon.jpg
/doc/unic_icon16.jpg